.menu li {
	border: 2px inset gray;
	display: inline-block;
	margin: 10px 20px 0px 20px;
	-webkit-box-shadow: 1px 1px 1px 0 thistle;
	box-shadow: 1px 1px 1px 0 thistle;
	list-style-type: none;
	padding: 0px 0px 0px 0px;
	border-radius: 1%;
}

.menu a {
	display: block;
	padding: 0px 15px 0px 15px;
	justify-content: center;
	color : #333333;
	font-family: 'Niconne', cursive;
	font-size: 30px;
}


.menu a:hover {
	color: lightgray;
	background-color: mediumvioletred;
}

.menu a.is-current {
	color: white;
	background-color: palevioletred;
}

.menu a.is-current:hover {
	color: white;
	background-color: mediumvioletred;
}