.menu ul{
	margin-top: 4px;
	margin-bottom: 4px;
}

.menu li {
	display: inline-block;
	margin: 10px 20px 0px 20px;
	list-style-type: none;
	padding: 0px 0px 0px 0px;
}

.menu a {
	display: block;
	padding: 0px 15px 0px 15px;
	justify-content: center;
	color : #333333;
	font-family: 'Varela Round', sans-serif;
	font-size: 30px;
}


.menu a:hover {
	color: mediumvioletred;
}

.menu a.is-current {
	color: mediumvioletred;
}