@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*******************************BASE STYLES*************************************/

body {
	background: #FFFFFF;
	font-family: 'Raleway', sans-serif;
	line-height : 2.2em;
	margin: 0px;
}

.container {
	margin: 0 auto;
	max-width: 1000px;
	width: 95%;
}

::selection {
	background: whitesmoke;
}

h1 {
	color: #cf1578;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

h2{
	font-family: 'M PLUS Rounded 1c', sans-serif;
	color: #cf1578;
	font-weight : bold;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

h3 {
	margin-bottom : 0px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

h4 {
	color: #000000;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}


a {
	color: #039fbe;
	text-decoration : none;
}

a:hover {
	color : #d9138a;
}


figure {
	text-align: center;
	/* padding: 100px 0px 100px 0px; */
	/* margin-top: 0; */
}

figcaption{
	width: 280px;
	text-align: center;
}

span{
	font-size: 25px;
	color:#cf1578;
}

footer{
	position: relative;
}

footer p{
	position: absolute;
	bottom: 0;
	background-color: white;
	width: 100%;
}

/*********************LAYOUT*************************************/


.grida {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
}

.gridi {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.pets{
	display: grid;
	grid-template-columns: 1fr 1fr;
	/*grid-template-rows: repeat(2, 1fr);*/
	grid-column-gap: 15px;
	grid-row-gap: 0px;
}

.one{
	grid-row: 1;
	grid-column: 1;
}

.pets figure{
	grid-row: 1;
	grid-column: 2;
}

.grid{
	display: grid;
	grid-template-columns: 1.3fr 1.5fr 1fr;
	
	grid-column-gap: 20px;
	grid-row-gap: 0px;
}

.grid figure{
	margin-left: 0px; /*align img and heading on the same vertical line*/
}

.intrf{
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.intrp{
	grid-column: 2 / 3;
	grid-row: 1 / 2;

	
}
.intrp p{
	height: 398px;
	display: table-cell;
    vertical-align: middle;
}
.rdmore{
	grid-column: 3 / 4;
	grid-row: 1 / 2;
}
.rdmore a{
	height: 398px;
	display: table-cell;
    vertical-align: middle;
}

.Academics{
	display: grid;
	grid-template-columns: 1fr 1fr;
	/*grid-template-rows: repeat(2, 1fr);*/
	grid-column-gap: 50px;
	grid-row-gap: 0px;
}

.ac{
	grid-column: 1;
	grid-row: 1;
}

.classes{
	grid-column: 2;
	grid-row: 1;
}

.Academics h3{
	background-color: #eee;
	padding: 10px 0px 10px 15px;
	margin-bottom: 0px;
	margin-top: 0px;
	border-bottom: 0.5px solid slategrey;
	color: #027f98;
}

.Academics h3:hover{
  color: #cf1578;
}


/************************************MODULES***********************************/

/* black background */
.blacktop{
	min-height: 60vh;
	padding-bottom: 50px;
	border-bottom: solid 30px;
	border-bottom-color: #cf1578;
	background-color: #322e2f;
	color: #FFFFFF;
	margin-top: 0px;
	padding-top: 0px;
}

.blacktop2{
	padding-bottom: 10px;
	border-bottom: solid 10px;
	border-bottom-color: #cf1578;
	background-color: #322e2f;
	color: #FFFFFF;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 10px;
}

.blackcontent{
	margin: 0 auto;
	max-width: 1000px;
	width: 95%;
}

.blackcontent figure{
	padding-top: 20px;
}

main header {
	flex-direction: column;
}

.side-by-side {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.London{
	font-size: 40px;
	padding-top: 5px;
	color: #e8d21d;
	font-family: 'Roboto', sans-serif;
}

.homebtn
{
	text-align: right;
	padding-bottom: 0px;
	margin-bottom: 0px;
	font-size: 22px;
	
}

.name{
	color: #e8d21d;
	font-family: 'Roboto', sans-serif;
}



/*quote design*/

#aamilne, #play, #tolstoy, #lived, #quote, #quote2{
	font-size: 25px;
	font-weight: bold;
}
