@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/*general*/

body {
	background: #FFFFFF;
	font-family: 'Raleway', sans-serif;
	line-height : 2.0em;
	margin: 0px;
}

.container {
	margin: 0 auto;
	max-width: 1000px;
	width: 95%;
}

::selection {
	background: whitesmoke;
}

/*specific*/

h1 {
	color: mediumvioletred;
	font-family: 'Varela Round', sans-serif;
}

h2{
	font-family: 'Varela Round', sans-serif;
	color: mediumvioletred;
	font-weight : bold;
}

h3 {
	margin-bottom : 0px;
	font-family: 'Varela Round', sans-serif;
}

h4 {
	color: #000000;
	font-family: 'Varela Round', sans-serif;
}

a {
	color: #018c94;
	text-decoration : none;
}

a:hover {
	color : mediumvioletred;
}

figure {
	text-align: center;
	/* padding: 100px 0px 100px 0px; */
	/* margin-top: 0; */
}


/*Molly's grid layout*/

.grida {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.gridi {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

/*quote design*/

#aamilne, #play, #tolstoy, #lived, #quote, #quote2{
	font-size: 25px;
	/*margin-top: 90px;*/
	font-weight: bold;
}

.pets{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 15px;
	grid-row-gap: 0px;
}

.one{
	grid-row: 1;
	grid-column: 1;
}

.pets figure{
	grid-row: 1;
	grid-column: 2;
}

span{
	font-size: 25px;
	color: mediumvioletred;
}


/*index*/
/*.intros{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 25px;
}

.homepage{
	align-items: center;
	justify-content: center;
}

.homepage li{
	list-style-type: none;
	padding: 5px;
	max-width: 400px;
}

.homepage p{
	margin: 0px 5px 0px 5px;
}

.homepage h2{
	color: #000000;
}

.homepage ul{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 25px;
}*/

.grid{
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 15px;
	grid-row-gap: 0px;
}

.grid figure{
	grid-column: 1;
	grid-row: 1;
}

.grid p{
	grid-column: 2;
	grid-row: 1;
}

.grid a{
	grid-column: 3;
	grid-row: 1;
}

.London{
	font-size: 40px;
}


/* black background */
.blacktop{
	min-height: 90vh;
	padding-bottom: 50px;
	border-bottom: solid 50px;
	border-bottom-color: mediumvioletred;
	background-color: #000000;
	color: #FFFFFF;
	margin-top: 0px;
	padding-top: 0px;
}

.blackcontent{
	margin: 0 auto;
	max-width: 1000px;
	width: 95%;
}

main header {
	flex-direction: column;
}


.side-by-side {
	display: flex;
	flex-direction: row;
	/* align-content: center; */
	justify-content: center;
}
